<!-- Modal -->
<% unplastifiedItems.forEach(e=>{ %> 
      <div class="flex justify-center items-center fixed top-0 left-0 z-[1055] hidden w-full h-full overflow-x-hidden overflow-y-auto outline-0 mb-12 <%= `editmodal-${e.dataValues.unplastified_item_id}`%>">
        <form
          action="<%= `/enterprise/editUnplastifiedItem/${e.dataValues.unplastified_item_id}?_method=PUT`%>" 
          method="POST" 
          enctype="multipart/form-data"
          class="flex flex-col gap-y-4 bg-upfc-gray rounded absolute w-[40%] left-[29%] m-4 p-8"
        >
        <button type="button" class="close self-end -mb-4" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
              <div class="flex flex-col w-full gap-x-2">
                <div class="text-white font-light" for="plastic_item">Item Plástico:</div>
                <input class="w-full py-1 px-2 bg-gray-600 w-fit py-0 rounded-lg focus:outline-none text-white" type="text" name="plastic_item" value="<%= e.dataValues.plastic_item %>">
              </div>
              <div class="flex flex-col w-full gap-x-2">
                <div class="text-white font-light" for="implemented_change">Cambio implementado:</div>
                <input class="w-full py-1 px-2 bg-gray-600 w-fit py-0 rounded-lg focus:outline-none text-white" type="text" name="implemented_change" value="<%= e.dataValues.implemented_change %>">
              </div>
              <div class="flex flex-col w-full gap-x-2">
                <div class="text-white font-light" for="sku">Sku:</div>
                <input class="w-full py-1 px-2 bg-gray-600 w-fit py-0 rounded-lg focus:outline-none text-white" type="text" name="sku" value="<%= e.dataValues.sku %>">
              </div>
              <div class="flex flex-col w-full gap-x-2">
                <div class="text-white font-light" for="implemented_date">Fecha de implementación:</div>
                <input class="w-full py-1 px-2 bg-gray-600 w-fit py-0 rounded-lg focus:outline-none text-white" type="date" name="implementation_date" value="<%= e.dataValues.implementation_date %>">
              </div>
              <div class="flex flex-col w-full gap-x-2">
                <div class="text-white font-light" for="plastic-item-before">Objeto plástico anterior:</div>
                <select name ="id_plastic_item_before" class="w-full py-1 px-2 bg-gray-600 w-fit py-0 rounded-lg focus:outline-none text-white" aria-label="Default select example">
                  <% plasticItem.forEach( plasticItem => { %>
                    <option value="<%= plasticItem.id_plastic_item %>" <%= plasticItem.id_plastic_item == e.dataValues.id_plastic_item_before ? `selected="true"` : false %>>
                      <%= plasticItem.plastic_item %> 
                    </option>
                  <% }) %>
                </select>
              </div>
              <div class="flex flex-col w-full gap-x-2">
                <!-- Alternative plastic item -->
                <div class="text-white font-light mb-1" for="plastic_item_before">Objeto alternativo:</div>
                <select name ="id_plastic_item_after" class="w-full py-1 px-2 bg-gray-600 w-fit py-0 rounded-lg focus:outline-none text-white" aria-label="Default select example">
                  <% alternativePlasticItem.forEach( alternativePlasticItem => { %>
                    <option value="<%= alternativePlasticItem.id_alternative_plastic_item %>" <%= alternativePlasticItem.id_alternative_plastic_item == e.dataValues.id_alternative_plastic_item ? `selected="true"` : false %>>
                      <%= alternativePlasticItem.alternative_plastic_item %> 
                    </option>
                  <% }) %>
                </select>
              </div>
              <div class="flex flex-col w-full gap-x-2">
                <!-- Impact approach -->
                <div class="text-white font-light mb-1" for="plastic-item-before">Impacto deseado:</div>
                <select name ="impact_approach" class="w-full py-1 px-2 bg-gray-600 w-fit py-0 rounded-lg focus:outline-none text-white" aria-label="Default select example">
                  <% impactApproach.forEach( imapctApproach => { %>
                    <option value="<%= imapctApproach.id_impact_approach %>" <%=  imapctApproach.id_impact_approach == e.dataValues.impact_approach.dataValues.id_impact_approach ? `selected="true"` : false %> >
                      <%= imapctApproach.impact_approach %> 
                    </option>
                  <% }) %>
                </select>
              </div>
              <div class="flex flex-col w-full gap-x-2">
                <div class="text-white font-light mb-1" for="plastic-item-before">Unidad de medida:</div>
                <select name ="id_product_measurement_unit" class="w-full py-1 px-2 bg-gray-600 w-fit py-0 rounded-lg focus:outline-none text-white" aria-label="Default select example">
                  <% productMeasurementUnit.forEach( productMeasurementUnit => { %>
                    <option value="<%= productMeasurementUnit.id_product_measurement_unit %>"<%= productMeasurementUnit.id_product_measurement_unit == e.dataValues.id_product_measurement_unit ? `selected="true"` : false %> >
                      <%= productMeasurementUnit.measurement_unit %> 
                    </option>
                  <% }) %>
                </select>
              </div>
              <div class="flex flex-col w-full gap-x-2">
                <div class="text-white font-light" for="impact_approach_quantity">Cantidad:</div>
                <input class="w-full py-1 px-2 bg-gray-600 w-fit py-0 rounded-lg focus:outline-none text-white" type="text" name="impact_approach_quantity" value="<%= parseInt(e.dataValues.impact_approach_quantity) %>">


              </div>
              <%
                const beforePicArray = JSON.parse(e.dataValues.before_pic);
                if (beforePicArray.length > 0) {
              %>
              <h4>Fotos anteriores</h4>
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <% if (beforePicArray.length > 1) { %>
                  <ol class="carousel-indicators">
                    <% beforePicArray.forEach((pic, index) => { %>
                      <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= index === 0 ? 'active' : '' %>"></li>
                    <% }); %>
                  </ol>
                <% } %>
                <div class="carousel-inner">
                  <% beforePicArray.forEach((pic, index) => { %>
                    <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                      <img class="d-block w-100" src= "<%= `/private/${pic}` %>" alt="<%= `unouthorised` %> slide">
                    </div>
                  <% }); %>
                </div>
                <% if (beforePicArray.length > 1) { %>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                <% } %>
              </div>
            <% } %>
            <%
              const afterPicArray = JSON.parse(e.dataValues.after_pic);
              if (afterPicArray.length > 0) {
            %>
              <h4>Fotos posteriores</h4>
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <% if (afterPicArray.length > 1) { %>
                  <ol class="carousel-indicators">
                    <% afterPicArray.forEach((pic, index) => { %>
                      <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= index === 0 ? 'active' : '' %>"></li>
                    <% }); %>
                  </ol>
                <% } %>
                <div class="carousel-inner">
                  <% afterPicArray.forEach((pic, index) => { %>
                    <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                      <img class="d-block w-100" src= "<%= `/private/${pic}` %>" alt="<%= `unouthorised` %> slide">
                    </div>
                  <% }); %>
                </div>
                <% if (afterPicArray.length > 1) { %>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                <% } %>
              </div>
            <% } %>
            <%
              const videoArray = JSON.parse(e.dataValues.video);
              if (videoArray.length > 0) {
            %>
              <h4>Videos</h4>
              <div id="videoModal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Videos</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <% videoArray.forEach(video => { %>
                        <video class="w-100" controls>
                          <source src="<%= `/private/${video }` %>" type="video/mp4">
                          <source src="<%= `/private/${video }` %>" type="video/webm">
                          <source src="<%= `/private/${video }` %>" type="video/ogg">
                          Your browser does not support the video tag.
                        </video>
                        <br>
                      <% }); %>
                    </div>
                  </div>
                </div>
              </div>
            <% } %>
            <%
              const technicalFileArray = JSON.parse(e.dataValues.technical_file);
              if (technicalFileArray.length > 0) {
            %>
              <div class="text-center mt-4">
                <button type="button" class="btn btn-primary" id="downloadAllButton">
                  Download technical files
                </button>
              </div>
              <% technicalFileArray.forEach(file => { %>
                <a class="d-none" href="<%= `/private/${file}` %>" download="<%= `/private/${file}` %>" id="downloadLink"></a>
              <% }); %>
            <% } %>
            <%
              const additionalDocs = JSON.parse(e.dataValues.additional_documents);
              if (additionalDocs.length > 0) {
            %>
              <h4>Additional docs</h4>
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <% if (additionalDocs.length > 1) { %>
                  <ol class="carousel-indicators">
                    <% additionalDocs.forEach((pic, index) => { %>
                      <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= index === 0 ? 'active' : '' %>"></li>
                    <% }); %>
                  </ol>
                <% } %>
                <div class="carousel-inner">
                  <% additionalDocs.forEach((pic, index) => { %>
                    <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                      <img class="d-block w-100" src= "<%= `/private/${pic}` %>" alt="<%= `unouthorised` %> slide">
                    </div>
                  <% }); %>
                </div>
                <% if (additionalDocs.length > 1) { %>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                <% } %>
              </div>
            <% } %>
            <% if (mintingRequest.dataValues.minting_status.dataValues.status == 'Further documentation requested') { %>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input"
                  aria-describedby="inputGroupFileAddon01" name="additional_documents" multiple>
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
              </div>
              <label class="form-label" for="customFileLang">Upload additional documentation if further documentation its requested</label>
            <% } %>
            <% if (userCategory == 'enterprise') { %>
              <div class="modal-footer">
                <% if (mintingRequest.dataValues.minting_status.dataValues.status == 'Further documentation requested') { %>
                    <button type="submit" class="btn btn-primary">Add further information</button>
                  <% } %>
                  <% if (mintingRequest.dataValues.minting_status.dataValues.status == 'Created') { %>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                  <% } %>
                  <% if (mintingRequest.dataValues.minting_status.dataValues.status == 'Created' || mintingRequest.dataValues.minting_status.dataValues.status == 'Further documentation requested' ) { %>
                    <button type="submit" class="btn btn-danger" formaction="<%= `/enterprise/deleteUnplastifiedItem/${e.dataValues.unplastified_item_id}?_method=DELETE` %>" formmethod="POST">
                      Delete Unplastified item
                    </button>
                  <% } %>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            <% } %>
            <% if (userCategory == 'unplastify') { %>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" formaction="<%= `/enterprise/editUnplastifiedItem/${e.dataValues.unplastified_item_id}?_method=PUT` %>" formmethod="POST">Guardar</button>
                  <button type="submit" class="btn btn-danger" formaction="<%= `/enterprise/deleteUnplastifiedItem/${e.dataValues.unplastified_item_id}?_method=DELETE` %>" formmethod="POST">
                    Delete Unplastified item
                  </button>
                  <form method="POST" action="/unplastify/updateMintingRequestStatus/<%= e.dataValues.minting_request_id %>/In%20Review?_method=PUT">
                    <input type="submit" class="btn btn-primary" value="In Review"></input>
                  </form>
                  <form method="POST" action="/unplastify/updateMintingRequestStatus/ <%= e.dataValues.minting_request_id %>/Approved?_method=PUT">
                    <input type="submit" class="btn btn-success" value="Approve"></input>
                  </form>
                  <form method="POST" action= "<%= `/unplastify/updateMintingRequestStatus/${e.dataValues.minting_request_id}/Further%20documentation%20requested?_method=PUT` %>" >
                    <input type="submit" class="btn btn-warning" value="Request further information"></input>
                  </form>
                  <form method="POST" action="/unplastify/updateMintingRequestStatus/ <%= e.dataValues.minting_request_id %>/Stand-by?_method=PUT">
                    <input type="submit" class="btn btn-warning" value="Stand by"></input>
                  </form>
                  <form method="POST" action="/unplastify/updateMintingRequestStatus/ <%= e.dataValues.minting_request_id %>/Rejected?_method=PUT">
                    <input type="submit" class="btn btn-danger" value="Reject"></input>
                  </form>
                </div>
            <% } %>
        </form>
      </div>
<% }) %>
  
<!-- Modal imports -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<!-- Modal imports -->

<!-- Download Button script -->
<script src="/js/downloadButton.js"></script>
