<%- include("../partials/head") %>
<%- include("../partials/navbar") %>

<section class="flex items-center justify-center min-h-[calc(100vh-6rem)] bg-upfc-blue">
  <% if(unplastifiedItems.length > 0){ %>
    <%- include("./mintingRequestLarge")%>
  <% } else { %>
    <%- include("./mintingRequestSmall")%>
  <% } %>
</section>

<div class="w-1/2 flex flex-col bg-upfc-blue text-white hidden">
  <h5>
    Enter the amount of validator this minting request should be assign to
  </h5>
  <form class="flex" action="<%= `/unplastify/assignToValidator/${mintingRequest.minting_request_id}?_method=PUT` %>" method="POST">
    <label for=""></label>
    <label for="validatorQuantity">Validator Quantity</label>
    <input type="number" name="validatorQuantity"></input>
    <input type="submit" class="bg-upfc-lime rounded-xl p-1 text-black w-1/3" value="assign to validator"></input>
  </form>  
</div>

<%- include("../partials/chatRoom")%>
<%- include("./modals")%>
<%- include("./editModal")%>
<%- include("../partials/footer") %>