<%- include("../partials/head") %>
<%- include("../partials/navbar") %>
<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
    background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
    height: 300px;
    ">
  <h2 class="fw-bold mb-5">Please upload all your unplastified items</h2>
  <h3 class="fw-bold mb-5">
    <%= mintingRequest.name  %>
  </h3>
  </div>
  <!-- Background image -->
  <% let progresion; %>
<% switch (mintingRequest.minting_status.dataValues.status) {
  case 'Created':
    progresion = 10;
    break;
  case 'Submited':
    progresion = 30;
    break;
  case 'Approved':
    progresion = 60;
    break;
  case 'In Review':
    progresion = 70;
    break;
  case 'Assign To Validator':
    progresion = 80;
    break;
  case 'Completed':
    progresion = 100;
    break;
  default:
    progresion = 0;
} %>
  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
    margin-top: -100px;
    background: hsla(0, 0%, 100%, 0.8);
    backdrop-filter: blur(30px);
  ">
  
    <div class="card-body py-5 px-md-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <form action="<%=`/enterprise/changeMintingRequestName/${mintingRequest.minting_request_id}?_method=PUT`%>" method="POST">
            <div class="form-outline mb-4">
              <label class="form-label">Change minting request name</label>
              <input name="newName" type="text" class="form-control" />
            </div>
            <input type="submit" class="btn btn-outline-dark flex-shrink-0" value="Change name"></input>
          </form>
          <% if(unplastifiedItems.length>0){ %>
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
              <table class="table table-bordered table-striped mb-0">
                <thead>
                  <tr>
                    <th scope="col">Plastic Item</th>
                    <th>SKU</th>
                    <th>Details</th>
                    <% if (mintingRequest.minting_status.dataValues.status !== 'Submited') { %>
                      <th>Edit</th>
                    <% } %>
                  </tr>
                </thead>
                <tbody>
                  <% unplastifiedItems.forEach(e=>{ %>
                    <tr>
                      <td>
                        <%= e.dataValues.plastic_item %>
                      </td>
                      <td>
                        <%= e.dataValues.sku %>
                      </td>
                      <td>
                        <button type="button" class="btn btn-outline-dark mt-auto" data-toggle="modal" data-target="<%= `.editmodal-${e.dataValues.unplastified_item_id}`%>">
                          Details
                        </button>
                      </td>
                      <% if (mintingRequest.minting_status.dataValues.status !== 'Submited') { %>
                        <td>
                          <button type="button" class="btn btn-outline-dark mt-auto" data-toggle="modal" data-target="<%= `.editmodal-${e.dataValues.unplastified_item_id}`%>">
                            Edit
                          </button>
                        </td>
                        <% } %>
                    </tr>
                  <% }) %> 
              </tbody>
              </table>
            </div>
          <% } else {%>
            Please add unplastified items to continue 
          <% } %> 
            <br>
            <% if (mintingRequest.minting_status.dataValues.status === 'Created') { %>
              <form action="/enterprise/addUnplastifiedItem" method="GET">
                <!-- Add an unplastified item -->
                <input type="submit" class="btn btn-primary btn-block mb-4" value="Add new unplastified item"></input>
              </form>
            <% } %>
          <!-- Project Card Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Status</h6>
            </div>
            <div class="card-body">
              <h4 class="small font-weight-bold">
                <%= mintingRequest.minting_status.dataValues.status %>
                <span class="float-right">
                  <%= progresion %>
                </span>
              </h4>
              <div class="progress mb-4">
                <div class="progress-bar bg-danger" role="progressbar" style="width: <%= progresion %>%"
                    aria-valuenow="<%= progresion %>" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
        </div>
        <% if(mintingRequest.minting_status.dataValues.status != 'Submited' && mintingRequest.minting_status.dataValues.status != 'Assign To Validator'){%>
          <form action="<%= `/enterprise/submitMintingRequest/${mintingRequest.minting_request_id}?_method=PUT` %>" method="POST" enctype="multipart/form-data">
            <!-- Submit button -->
            <input type="submit" class="btn btn-primary btn-block mb-4" value="submit minting request"></input>
          </form>
        <% } %>
          <% if(userCategory==3 && mintingRequest.minting_status.dataValues.status != 'Assign To Validator'){%>
            <!-- Unplastify can assign to validator whenever -->
            <form action="<%= `/enterprise/assignToValidator/${mintingRequest.minting_request_id}?_method=PUT` %>" method="POST">
              <input type="submit" class="btn btn-primary btn-block mb-4" value="assign to validator"></input>
            </form>
          <% } %>
          <% if(userCategory==3 && mintingRequest.minting_status.dataValues.status != 'In Review'){%>
            <!-- Unplastify can assign to validator whenever -->
            <form action="<%= `/enterprise/inReview/${mintingRequest.minting_request_id}?_method=PUT` %>" method="POST">
              <input type="submit" class="btn btn-primary btn-block mb-4" value="In Review"></input>
            </form>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../partials/chatRoom")%>
<%- include("./modals")%>
<%- include("./editModal")%>
<%- include("../partials/footer") %>
