<%- include("../partials/head") %>
<%- include("../partials/navbar") %>
<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
    background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
    height: 300px;
    ">
  </div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
    margin-top: -100px;
    background: hsla(0, 0%, 100%, 0.8);
    backdrop-filter: blur(30px);
  ">
    <div class="card-body py-5 px-md-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Submit pertinent documentation to probe you've done an unplastify process</h2>

          <form action="/enterprise/newUnplastifiedItem" method="POST" enctype="multipart/form-data">
            
            <!-- Before pic inpmut -->
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Upload</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input"
                aria-describedby="inputGroupFileAddon01" name="before_pic" multiple >
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
              </div>
            </div>
            <label class="form-label" for="customFileLang">Upload a picture showing the before situation</label>

            <!-- After pic inpmut -->
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Upload</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input"
                aria-describedby="inputGroupFileAddon01" name="after_pic" multiple>
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
              </div>
            </div>
            <label class="form-label" for="customFileLang">Upload a picture showing the after situation</label>

            <!-- Video inpmut -->
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Upload</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input"
                aria-describedby="inputGroupFileAddon01" name="video" multiple>
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
              </div>
            </div>
            <label class="form-label" for="customFileLang">Upload a video showing the unplastify process</label>

            <!-- Technical inpmut -->
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Upload</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input"
                aria-describedby="inputGroupFileAddon01" name="technical_file" multiple>
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
              </div>
            </div>
            <label class="form-label" for="customFileLang">Upload the technical file</label>

            <!-- Additional Documents inpmut -->
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Upload</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input"
                aria-describedby="inputGroupFileAddon01" name="additional_documents" multiple>
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
              </div>
            </div>
            <label class="form-label" for="customFileLang">Upload additional pics if necesary</label>
            
            <!-- Sku -->
            <div class="form-outline mb-4">
              <input name ="sku" type="text" class="form-control" />
              <label class="form-label" for="sku">SKU/EAN</label>
            </div>

            <!-- Plastic Item -->
            <div class="form-outline mb-4">
              <input name ="plastic_item" type="text" class="form-control" />
              <label class="form-label" for="plastic_item">Plastic Item</label>
            </div>

            <!-- Implemented Change -->
            <div class="form-outline mb-4">
              <input name ="implemented_change" type="text" class="form-control" />
              <label class="form-label" for="plastic_item">Describe the implemented change</label>
            </div>

            <!-- Implementation date -->
            <div class="form-outline mb-4">
              <input name ="implementation_date" type="date" class="form-control" />
              <label class="form-label" for="implementation_date">Implementation date</label>
            </div>

            <!-- Before Plastic item -->
            <select name ="id_plastic_item_before" class="form-select mb-4" aria-label="Default select example">
              <% plasticItem.forEach( e => { %>
                <option value="<%= e.id_plastic_item %>">
                  <%= e.plastic_item %> 
                </option>
              <% }) %>
            </select>
            <label class="form-label" for="plastic-item-before">Select the previous plastic item</label>
            
            <!-- Alternative plastic item -->
            <select name ="id_plastic_item_after" class="form-select mb-4" aria-label="Default select example">
              <% alternativePlasticItem.forEach( e => { %>
                <option value="<%= e.id_alternative_plastic_item %>">
                  <%= e.alternative_plastic_item %> 
                </option>
              <% }) %>
            </select>
            <label class="form-label" for="plastic_item_before">Select the alternative plastic item chosen</label>

            <!-- Impact approach -->
            <select name ="impact_approach" class="form-select mb-4" aria-label="Default select example">
              <% impactApproach.forEach( e => { %>
                <option value="<%= e.id_impact_approach %>">
                  <%= e.impact_approach %> 
                </option>
              <% }) %>
            </select>
            <label class="form-label" for="plastic-item-before">Select the impact approach</label>

            <!-- Product measurement unit -->
            <select name ="id_product_measurement_unit" class="form-select mb-4" aria-label="Default select example">
              <% productMeasurementUnit.forEach( e => { %>
                <option value="<%= e.id_product_measurement_unit %>">
                  <%= e.measurement_unit %> 
                </option>
              <% }) %>
            </select>
            <label class="form-label" for="plastic-item-before">Select product measurement</label>

            <!-- Impact approach quantity -->
            <div class="form-outline mb-4">
              <input name ="impact_approach_quantity" type="number" class="form-control" />
              <label class="form-label" for="impact_approach_quantity">Impact approach quantity</label>
            </div>

            <!-- Submit button -->
            <input type="submit" class="btn btn-primary btn-block mb-4" value="submit">Submit</input>
          
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include("../partials/footer") %>
