<%- include("../partials/head") %>
<%- include("../partials/navbar") %>
<!-- Section: Design Block -->
<section class="flex items-center justify-center text-center bg-upfc-blue">
  <!-- Background image -->
  <div class="flex flex-col w-1/2 mb-16 mt-6">
    <a href="<%= `/enterprise/mintingRequest/${minting_request_id}` %>" class="self-start text-white">< volver</a>
    <div class="card-body py-5 px-md-5 bg-black bg-opacity-25 rounded">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h1></h1>
          <h2 class="text-2xl text-white">Nuevo artículo desplastificado</h2>
          <h2 class="text-base font-thin text-white mb-6">Cargue la documentacion correspondiente</h2>
          <form action="/enterprise/newUnplastifiedItem/<%= minting_request_id %>" method="POST" enctype="multipart/form-data">
            

            <!-- Plastic Item -->
            <div class="form-outline mb-4">
              <input name ="plastic_item" type="text" class="form-control" placeholder="Nombre del producto desplastificado" />
              <!-- <label class="form-label" for="plastic_item">Nombre del artículo plástico</label> -->
            </div>
            
            <!-- Sku -->
            <div class="form-outline mb-4">
              <input name ="sku" type="text" class="form-control" placeholder="SKU/EAN" />
              <!-- <label class="form-label" for="sku">SKU/EAN</label> -->
            </div>

            <!-- Implemented Change -->
            <div class="form-outline mb-4">
              <input name ="implemented_change" type="text" class="form-control" placeholder="Describa el cambio implementado" />
              <!-- <label class="form-label" for="plastic_item">Describe the implemented change</label> -->
            </div>

            <!-- Before pic inpmut -->
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Upload</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input"
                aria-describedby="inputGroupFileAddon01" name="before_pic" multiple >
                <label class="custom-file-label" for="inputGroupFile01">Seleccionar archivo</label>
              </div>
            </div>
            <label class="form-label" for="customFileLang">Suba una imágen mostrando la situación previa</label>

            <!-- After pic inpmut -->
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Upload</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input"
                aria-describedby="inputGroupFileAddon01" name="after_pic" multiple>
                <label class="custom-file-label" for="inputGroupFile01">Seleccionar archivo</label>
              </div>
            </div>
            <label class="form-label" for="customFileLang">Suba una imágen mostrando la situación posterior</label>

            <!-- Video inpmut -->
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Upload</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input"
                aria-describedby="inputGroupFileAddon01" name="video" multiple>
                <label class="custom-file-label" for="inputGroupFile01">Seleccionar archivo</label>
              </div>
            </div>
            <label class="form-label" for="customFileLang">Suba un video mostrando su proceso de desplastificación</label>

            <!-- Technical inpmut -->
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Upload</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input"
                aria-describedby="inputGroupFileAddon01" name="technical_file" multiple>
                <label class="custom-file-label" for="inputGroupFile01">Seleccionar archivo</label>
              </div>
            </div>
            <label class="form-label" for="customFileLang">Suba la ficha técnica</label>

            <!-- Additional Documents inpmut -->
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Upload</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input"
                aria-describedby="inputGroupFileAddon01" name="additional_documents" multiple>
                <label class="custom-file-label" for="inputGroupFile01">Seleccionar archivo</label>
              </div>
            </div>
            <label class="form-label" for="customFileLang">Suba archivos adicionales si es necesario</label>

            <!-- Implementation date -->
            <div class="form-outline">
              <input name ="implementation_date" type="date" class="form-control" />
            </div>
            <label class="form-label mb-4" for="implementation_date">Fecha de implementación</label>

            <!-- Before Plastic item -->
            <select name ="id_plastic_item_before" class="form-select" aria-label="Default select example">
              <% plasticItem.forEach( e => { %>
                <option value="<%= e.id_plastic_item %>">
                  <%= e.plastic_item %> 
                </option>
              <% }) %>
            </select>
            <label class="form-label" for="plastic-item-before mb-4">Selecciona el plástico previo</label>
            
            <!-- Alternative plastic item -->
            <select name ="id_plastic_item_after" class="form-select" aria-label="Default select example">
              <% alternativePlasticItem.forEach( e => { %>
                <option value="<%= e.id_alternative_plastic_item %>">
                  <%= e.alternative_plastic_item %> 
                </option>
              <% }) %>
            </select>
            <label class="form-label" for="plastic_item_before mb-4">Selecciona la alternativa elegida</label>

            <!-- Impact approach -->
            <select name ="impact_approach" class="form-select" aria-label="Default select example">
              <% impactApproach.forEach( e => { %>
                <option value="<%= e.id_impact_approach %>">
                  <%= e.impact_approach %> 
                </option>
              <% }) %>
            </select>
            <label class="form-label" for="plastic-item-before mb-4">Selecciona el area de impacto</label>

            <!-- Product measurement unit -->
            <select name ="id_product_measurement_unit" class="form-select" aria-label="Default select example">
              <% productMeasurementUnit.forEach( e => { %>
                <option value="<%= e.id_product_measurement_unit %>">
                  <%= e.measurement_unit %> 
                </option>
              <% }) %>
            </select>
            <label class="form-label" for="plastic-item-before mb-4">Select la unidad de medida</label>

            <!-- Impact approach quantity -->
            <div class="form-outline">
              <input name ="impact_approach_quantity" type="number" class="form-control" />
            </div>
            <label class="form-label" for="impact_approach_quantity mb-4">Cantidad de impacto ??</label>

            <!-- Submit button -->
            <button type="submit" class="bg-upfc-lime rounded py-2 text-black w-full mt-8" value="submit">Submit</button>
          
          </form>
        </div>
      </div>
    </div>
    </div>
</section>
<!-- <%- include("../partials/footer") %> -->
