<%- include("../partials/head") %> <%- include("../partials/navbar") %>
  <div class="flex min-h-[calc(100vh-6rem)] bg-upfc-blue">
    <div class="flex flex-col w-1/2 items-center justify-center mb-12">
        <div class="w-1/2">
          <h2 class="mb-4 text-white">REGISTRATE</h2>
          <form class="flex flex-col gap-y-3" method="POST" action="/users/register">

            <!-- Name inpmut -->
              <input
                name="name"
                type="text"
                id="form3Example1"
                class="w-full p-2 rounded bg-upfc-gray placeholder:font-light placeholder:text-base tracking-wider text-white"
                placeholder="Nombre"
              />
            <% if (locals.errors && errors.email) { %>
            <div class="error"><%= errors.email.msg %></div>
            <% } %>

            <!-- Email input -->
              <input
                name="email"
                type="email"
                id="form3Example3"
                class="w-full p-2 rounded bg-upfc-gray placeholder:font-light placeholder:text-base tracking-wider text-white"
                placeholder="Email"
              />

            <!-- ETH Address input -->
              <input
                type="text"
                name="address"
                id="form3Example1"
                class="w-full p-2 rounded bg-upfc-gray placeholder:font-light placeholder:text-base tracking-wider text-white"
                placeholder="ETH address"
              />

            <!-- Select User Category-->
            <select
              name="category"
              class="w-full p-2 rounded bg-upfc-gray placeholder:font-light placeholder:text-base tracking-wider text-white"
              placeholder="Tipo de usuario"
              aria-label="Default select example"
            >
              <option value='0'>Tipo de usuario...</option>
              <% for(i = 0; i < userCategory.length; i++) {%>
              <option value="<%= userCategory[i].id %>">
                <%= userCategory[i].user_category %>
              </option>
              <% } %>
            </select>

            <!-- Password input -->
              <input
                name="password"
                type="password"
                id="form3Example4"
                class="w-full p-2 rounded bg-upfc-gray placeholder:font-light placeholder:text-base tracking-wider text-white"
                placeholder="contraseña"
              />

            <!-- Newsletter Checkbox -->
            <!-- <div class="form-check d-flex justify-content-center mb-4">
              <input
                name="suscription"
                class="form-check-input me-2"
                type="checkbox"
                id="form2Example33"
                checked
              />
              <label class="form-check-label" for="form2Example33">
                Subscribe to our newsletter
              </label>
            </div> -->

            <!-- Submit button -->
            <button type="submit" class="bg-upfc-lime rounded py-2 text-black w-full my-3">
              Registrarme
            </button>
            <p class="text-sm text-white">
              ¿Ya tenés una cuenta?
              <a href="/users/login" class="text-upfc-lime font-light">Ingresá</a>
            </p>
          </form>
        </div>
    </div>
    <div class="w-1/2 overflow-hidden max-h-[calc(100vh-6rem)]">
      <div class="mt-12 -mr-24">
        <img class="w-full" src="/images/upfc-bg-logo.png" alt="UPFC logo image">
      </div>
    </div>
  </div>
<!-- <%- include("../partials/footer") %> -->
